.canvasContainer {
    padding: .3rem;
    /* background: rgb(255, 102, 0); */
    background: #0e0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 12px;
}

.canvas {
    background: white;
    border-radius: 12px;
    cursor: url('/tools/pencil.cur') 20 20,
        default;

}