.main {
    min-height: 100vh;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    gap: 1rem;
    padding: 2rem;
}

@media screen and (max-width: 720px) {
    .gameContainer {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}