.main {
    background: rgb(255, 255, 255);
    background-position: center;
    z-index: 10;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: skrawl;
    font-size: 4vmax;
    margin: 0;
    color: rgb(56, 49, 52);
}

.form {
    z-index: 10;
}

.form button {
    font-size: 1.5rem;
    outline: none;
    height: 3rem;
    width: 30vmax;
    border: none;
}

.form button {
    width: 8rem;
    cursor: pointer;
    border: none;
    font-size: 1.5vmax;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 6.5vmax;
    height: 2.5vmax;
    background: url('/ui/button-green.png') no-repeat;
    background-size: cover;
    background-position: center center;
}

.form button:hover {
    transition: .1s ease-in;
    transform: scale(1.1) rotate(-1deg);
}

.avatar {
    height: 20vmax;
    width: 20vmax;
    background-repeat: no-repeat !important;
    background-size: 20vmax 20vmax !important;
}

.navigateButton>svg:hover {
    transition: .2s;
    cursor: pointer;
    color: #82b924 !important;
    transform: scale(1.1);
}