.canvasContainer {
    padding: .3rem;
    background: rgb(255, 102, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 10;
    border-radius: 12px;
}

.canvas {
    background: white;
    border-radius: 12px;
    cursor: url('/public/tools/pencil.cur');

}