.canvasContainer {
    padding: .3rem;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 10;
    border-radius: 12px;
    /* clip-path: polygon(0 100%, 1% 94%, 0% 87%, 1% 66%, 0% 53%, 1% 33%, 0% 14%, 0% 4%, 4% 0%, 9% 1%, 13% 0%, 18% 1%, 21% 0%, 26% 1%, 31% 0%, 35% 1%, 39% 0%, 44% 1%, 49% 0%, 55% 2%, 63% 0%, 69% 1%, 74% 0%, 80% 1%, 82% 0%, 86% 1%, 89% 0%, 92% 1%, 95% 1%, 97% 0%, 98% 2%, 100% 0%, 100% 2%, 99% 7%, 100% 12%, 100% 15%, 100% 19%, 99% 20%, 100% 22%, 99% 27%, 100% 31%, 100% 36%, 100% 42%, 99% 49%, 100% 55%, 99% 64%, 100% 67%, 100% 73%, 99% 88%, 99% 85%, 100% 92%, 100% 100%); */
}

.canvas {
    background: white;
    border-radius: 12px;
    /* clip-path: polygon(0 100%, 1% 94%, 0% 87%, 1% 66%, 0% 53%, 1% 33%, 0% 14%, 0% 4%, 4% 0%, 9% 1%, 13% 0%, 18% 1%, 21% 0%, 26% 1%, 31% 0%, 35% 1%, 39% 0%, 44% 1%, 49% 0%, 55% 2%, 63% 0%, 69% 1%, 74% 0%, 80% 1%, 82% 0%, 86% 1%, 89% 0%, 92% 1%, 95% 1%, 97% 0%, 98% 2%, 100% 0%, 100% 2%, 99% 7%, 100% 12%, 100% 15%, 100% 19%, 99% 20%, 100% 22%, 99% 27%, 100% 31%, 100% 36%, 100% 42%, 99% 49%, 100% 55%, 99% 64%, 100% 67%, 100% 73%, 99% 88%, 99% 85%, 100% 92%, 100% 100%); */
}