.chatBox {
    height: 725px;
    background: white;
    border: 5px solid #0e0f0f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    padding: .5rem;
    font-size: 1vmax;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.avatar {
    background: rgb(61, 58, 58);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.msg {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .4rem 0;
}

.form input {
    font-size: 1.5vmax;
    background: url('/ui/input.png') no-repeat;
    background-size: cover;
    background-position: center center;
    outline: none;
    border: none;
    background-size: 100% 105%;
    padding: .2rem 1rem;
}

.form button {
    width: 4vmax;
    height: 2.5vmax;
    cursor: pointer;
    border: none;
    background: url('/ui/send-button.png') no-repeat;
    background-position: center center;
    background-size: 80%;
}

.form button:hover {
    transition: .1s ease-in;
    transform: scale(1.1) rotate(-1deg);
}