@font-face {
  font-family: doodle;
  src: url(doodle.otf);
}

@font-face {
  font-family: skrawl;
  src: url(skrawl.ttf);
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.616);
  opacity: 1;
  /* Firefox */
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.616);
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.616);
}

:root {
  --mainDivHeight: 60vh;
  --mainDivWidth: 40vw;
}

* {
  box-sizing: border-box;
  font-family: doodle;
  touch-action: none;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #1e201f;
  overflow-x: hidden;
  background: url('/ui/background.jpg');
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  position: absolute;
  pointer-events: none;
  background: #fff;
  animation: animate 5s linear infinite;
}

.error{
  background: rgb(255, 60, 0);
  padding: 2rem 5rem;
  border-radius: 10px;
  border: 5px solid black;
}


::-moz-selection {
  background: #1e201f60;
}

::selection {
  background: #1e201f60;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(315deg, #1e201f 0%, #d3d6d5 100%);
  border-radius: 50vmax;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



input[type=number] {
  -moz-appearance: textfield;
}

::placeholder {
  color: #1e201f;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #1e201f;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.flex-row{
display: flex;
justify-content: center;
align-items: center;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(-500%) rotate(360deg);
    opacity: 0;
  }
}